<div class="row">

    <div class="col-md-12">
        <h1>Products</h1>
    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="isShowAddProductForm = !isShowAddProductForm"
            [innerText]="isShowAddProductForm ? 'Show Product List' : 'Add Product Form'"></button>
    </div>

</div>

<div class="row justify-content-center mt-5 mb-5" *ngIf="isShowAddProductForm">
    <div class="col-md-4 col-4 ">
        <h1>Add Product</h1>
        <form (ngSubmit)="addProduct(productForm)" #productForm="ngForm" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" aria-describedby="productNameHelp" required
                    ngModel name="name">
                <div id="productNameHelp" class="form-text">Enter Product Name</div>
            </div>

            <div class="mb-3">
                <label for="productDescription" class="form-label">Product Description</label>
                <textarea class="form-control" id="productDescription" rows="3" required ngModel
                    name="description"></textarea>
            </div>

            <div class="mb-3">
                <label for="productPrice" class="form-label">Product Price</label>
                <input type="text" class="form-control" id="productPrice" aria-describedby="productPriceHelp" required
                    ngModel name="price">
                <div id="productPriceHelp" class="form-text">Enter Product Price</div>
            </div>


            <div class="mb-3">
                <label for="productImage" class="form-label">Select Image</label>
                <input type="file" class="form-control" id="productImage" aria-describedby="productImageHelp" required
                    ngModel name="image" (change)="onImageFileSelected($event)">
            </div>

            <div class="mb-3">
                <label class="form-label" for="productModel">Select GLTF File</label>
                <input type="file" class="form-control" id="productModel" aria-describedby="productModelHelp" required
                    placeholder="Select GLTF File" ngModel name="model" (change)="onModelFileSelected($event)"
                    accept=".gltf">
            </div>
            Upload buffer.bin
            <div class="mb-3">
                <label class="form-label" for="productModel">Select Buffer File</label>
                <input type="file" class="form-control" id="productModel" aria-describedby="productModelHelp" required
                    placeholder="Select Buffer File" ngModel name="model" (change)="onBufferFileSelected($event)"
                    accept=".bin">
            </div>

            <div class="mb-3">
                <label for="productCategory" class="form-label">Product Category</label>
                <select class="form-select" aria-label="Default select example" required ngModel
                    name="productCategoryID">
                    <option selected>Select Category</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>




        </form>




    </div>

</div>

<div class="row mt-5" *ngIf="!isShowAddProductForm">

    <div class="col-md-12 text-center">
        <h1>Product List</h1>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td><img src="{{imageUrl + product.folderName}}/{{product.image}}" alt="" width="100px"
                            height="100px"></td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>