<!--  
{
    "totalUsers": 1,
    "totalCategories": 2,
    "totalProducts": 2,
    "totalOrders": 1,
    "totalPendingOrders": 0,
    "totalProcessingOrders": 0,
    "totalCompletedOrders": 0,
    "totalCancelledOrders": 0
}
<p>
    {{Data.totalUsers}}
</p>
-->


<div class="row mt-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text">{{Data.totalUsers}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Categories</h5>
                <p class="card-text">{{Data.totalCategories}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Products</h5>
                <p class="card-text">{{Data.totalProducts}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <p class="card-text">{{Data.totalOrders}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Pending Orders</h5>
                <p class="card-text">{{Data.totalPendingOrders}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Processing Orders</h5>
                <p class="card-text">{{Data.totalProcessingOrders}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Completed Orders</h5>
                <p class="card-text">{{Data.totalCompletedOrders}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Cancelled Orders</h5>
                <p class="card-text">{{Data.totalCancelledOrders}}</p>
            </div>
        </div>
    </div>
</div>